@charset "UTF-8";

@media (min-width: 0px) {
	.row-fill {
		display: block;
	}
	.col-12-footer-tag-about {
		background: #000000;
	}
	.col-12-footer-tag-about h2 {
		font-size: 3.5vw;
	}
	.col-12-footer-tag-main h2 {
	font-size: 3.5vw;
	letter-spacing: .1rem;
	}
}

@media (min-width: 768px) {
	
	.row-fill {
		display: block;
	}
	.col-12-footer-tag-about {
		background: #000000;
	}
	.col-12-footer-tag-about h2 {
		font-size: 3.5vw;
	}
	.col-12-footer-tag-main h2 {
	font-size: 3.5vw;
	letter-spacing: .1rem;
	}
	
}

@media (min-width: 992px) {
	
	.row-fill {
		display: block;
	}	
	.col-12-footer-tag-about {
		background: #000000;
	}
	.col-12-footer-tag-about h2 {
		font-size: 3.5vw;
	}
	.col-12-footer-tag-main h2 {
	font-size: 2.5vw;
	letter-spacing: .1rem;
	}
	
}

@media (min-width: 1200px) {
	
	.row-fill {
		display: block;
	}
	.col-12-footer-tag-about {
		background: #000000;
	}
	.col-12-footer-tag-about h2 {
		font-size: 3.5vw;
	}
	.col-12-footer-tag-main h2 {
	font-size: 2.5vw;
	letter-spacing: .1rem;
	}
	
}

@media (min-width: 1400px) {
	
	.row-fill {
		display: none;
	}
	.col-12-footer-tag-about {
		background: transparent;
	}
	.col-12-footer-tag-about h2 {
		font-size: 2.5vw;
	}
	.col-12-footer-tag-main h2 {
	font-size: 2.5vw;
	letter-spacing: .1rem;
	}
	
}